@font-face {
  font-family: fBold;
  src: url(../fonts/OpenSans-SemiBold.ttf);
}

@font-face {
  font-family: fLight;
  src: url(../fonts/OpenSans-Light.ttf);
}

@font-face {
  font-family: fRegular;
  src: url(../fonts/OpenSans-Regular.ttf);
}

#menu {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 25px;
  background-color: #232931;
}
h1 {
  color: #fff9f9;
  font-family: fBold;
  font-size: 2em;
}
#iconUser {
  height: 42px;
  margin-right: 14px;
}
#deslog {
  display: flex;
  /* width: 300px; */
  align-items: center;
  /* border: 1px solid red; */
}
#saludo {
  color: #fff9f9;
  font-family: fRegular;
}
#usermenu {
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
}
#botonDeslog {
  margin-left: 14px;
  height: 24px;
  width: 80px;
  background-color: #13b14a;
  border: none;
  border-radius: 4px;
  color: #fff9f9;
  font-family: fLight;
  font-size: 14px;
}
#formNewUser {
  display: flex;
  /* border: 1px solid #13b14a; */
}
#labels {
  display: flex;
  /* border: 1px solid #13b14a; */
  flex-direction: column;
  margin-left: 4px;
  font-family: fLight;
}
#Sub {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-left: 6px;
}

form input {
  border-radius: 4px;
  /* border: 1px solid #232931; */
}
input::-moz-placeholder {
  text-align: center;
}

#Busernew {
  background-color: #13b14a;
  border-radius: 4px;
  color: #fff9f9;
  font-family: fLight;
  font-size: 14px;
  border: none;
  height: 24px;
  width: 80px;
}

#tittle {
  font-family: fRegular;
  font-size: 21px;
}

#tview {
  font-size: 21px;
  margin-top: 60px;
  font-family: fRegular;
}

#imgT {
  width: 24px;
}

table {
  border-collapse: collapse;
  font-family: fLight;
  font-size: 14px;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 18px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}

#delButton {
  border: none;
  background-color: #13b14a;
}
